@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding-top: 70px; /* Height of the fixed navbar */
}

body.no-navbar {
  padding-top: 0;
}