/* ADMIN SIDEBAR*/
.admin-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: calc(100vh - 100px);
  background-color: #f6f7f8;
  color: #e5e7eb;
  padding: 1.5rem 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  z-index: 100;
  overflow-y: auto;
}

/* TITLE*/
.sidebar-title {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  color: #0b0c0c; 
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

/* MENU*/
.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Link mặc định */
.sidebar-menu a {
  padding: 0.75rem 1rem;
  border-radius: 8px;
  color: #0e0f10;
  text-decoration: none;
  font-size: 0.95rem;
  transition: all 0.25s ease;
}

/* Hover */
.sidebar-menu a:hover {
  background-color: #3166bb;
  color: #ffffff;
}

/* Active (NavLink tự thêm class) */
.sidebar-menu a.active {
  background-color: #2132c6;
  color: #ffffff;
  font-weight: 600;
}

/* RESPONSIVE*/
@media (max-width: 768px) {
  .admin-sidebar {
    position: relative;
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
  }

  .sidebar-title {
    margin-bottom: 0;
    margin-right: 1rem;
  }

  .sidebar-menu {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .sidebar-menu a {
    padding: 0.5rem 0.75rem;
    font-size: 0.85rem;
  }
}
