.booklist-page {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  background-color: #fafafa;
  min-height: 80vh;
}

.filter-section {
  width: 250px;
}

.booklist-section {
  flex: 1;
}

.booklist-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1rem;
    grid-auto-rows: 1fr;
}

.booklist-grid > * {
    display: flex;
    flex-direction: column;
}

.booklist-grid .book-card {
    width: 100%;
    flex-grow: 1;
}


.no-result {
  text-align: center;
  font-size: 1.1rem;
  color: #888;
}
